/*---------------------------------- General Styles*/
html {
    height: 100vh;
}

* {
    padding: 0;
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&family=Quicksand&display=swap');

h1, h3, h5 {
    font-family: 'Nunito', sans-serif;
}

p, a, button {
    font-family: 'Quicksand', sans-serif;
}

/*---------------------------------- Index page */
#menu {
    margin: 20vh 0 auto auto;
}

/*---------------------------------- Game pages */
canvas {
    background: #e0a8b8;
    display: block;
    margin: 0 auto;
}

/* -------------------- Game win and lose ---------------------- */
/* Game win */
#gameScreen {
    padding-top: 5vh;
    position: relative;
}

#gameWon {
    position: absolute;
    z-index: 100;
    height: 640px;
    width: 960px;
    background: green;
    margin: 0 75px;
    display: none;
}

#gameLost {
    position: absolute;
    z-index: 100;
    height: 640px;
    width: 960px;
    background: red;
    margin: 0 75px;
    display: none;
}